header{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    height: 120px;
}

.aContainer{
    display: flex;
    gap: 35px;
    align-items: center;
}

.aContainer > a{
    text-decoration: none;
    color: white;
}

.aContainer > a:hover{
    color: rgb(101, 101, 255);
}

img{
    width: 125px;
}